@{
    ViewData["Title"] = "Home Page";
}

<div id="app" class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <Navbar />
        </div>
        <div class="col-sm-9">
            <Home />
            <router-view></router-view>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}


